 
 
 <div class="jheader">
            <div class="jheader-content">
                <h1>TRASHTRASH Drawing App</h1>
                <div id="textHere">Josh Drawing App</div>
                
                <div id="jcanvas">hi mom</div>  
            </div>

            <div id="jbody">

            <button id="jdClear">CLEAR</button>
            <button id="jdSave">SAVE</button>
            
            </div>
                      
</div>